body {
  font-family: sans-serif;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 8px;
  border: none;
  padding: 2px 8px;
}
button:hover {
  background-color: blueviolet;
  color: burlywood;
  cursor: pointer;
}

li {
  margin-right: 8px;
}

.incomplete-area {
  background-color: rgb(178, 238, 119);
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  background-color: rgb(104, 245, 245);
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
